<!-- Start Header Top Area -->
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-top-menu">
        <ul class="nav navbar-nav notika-top-nav">
            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-credit-card"></i></span>
            </a>
                <div role="menu" class="dropdown-menu message-dd task-dd animated zoomIn">
                    <div class="hd-mg-tt">
                        <h2 th:text="#{message.user.balance}"></h2>
                    </div>
                    <div th:object="${user}" class="hd-message-info hd-task-info">
                        <div class="skill">
                            <div class="lead-content">
                                <p style="text-align: center" th:text="${user.balance} + ' kn'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-settings"></i></span>
            </a>
                <div role="menu" class="dropdown-menu message-dd task-dd animated zoomIn">
                    <div class="hd-mg-tt">
                        <h2 style="color: #00c292" th:text="#{button.profile}"></h2>
                    </div>
                    <div class="hd-message-info hd-task-info">
                        <div class="skill">
                            <div class="hd-mg-va">
                                <a th:text="#{button.profileSettings}" href="/profileSettings"></a>
                            </div>
                            <div class="hd-mg-va">
                                <a th:text="#{button.logout}" href="/logout"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li th:object="${user}" style="margin-top: 20px; margin-left: 20px;" class="nav-item">
                <p th:text="${user.username}"></p>
            </li>
            <li style="margin-top: 20px; margin-left: 20px;" class="nav-item">
                <th:block th:insert="fragments/_languageChange"/>
            </li>
        </ul>

    </div>
</div>
<!-- End Header Top Area -->