<!doctype html >
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{page.homeGuest.title}"></title>
    <th:block th:insert="fragments/_links"/>
</head>

<body>

<!-- Login Register area Start-->
<div class="login-content">
    <!-- Forgot Password -->
    <div class="nk-block toggled" id="l-forget-password">
        <a href="#"><img src="img/logo/logo-large.png" alt=""/></a>
        <br><br><br>
        <div class="nk-form">
            <form action="/forgotPassword" method="POST">

                <p class="text-left" th:text="#{message.forgotPassword}"></p>

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" th:placeholder="#{placeholder.email}">
                    </div>
                </div>

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
                <br>
                <button class="btn btn-success notika-btn-success" type="submit" th:text="#{button.submit}"></button>
            </form>
        </div>

        <div class="nk-navigation nk-lg-ic rg-ic-stl">
            <a href="login"><i class="notika-icon notika-right-arrow"></i> <span th:text="#{button.signIn}"></span></a>
            <a href="registration"><i class="notika-icon notika-plus-symbol"></i> <span th:text="#{button.register}"></span></a>
        </div>
    </div>
</div>
<th:block th:insert="fragments/_scripts"/>
</body>
</html>
