<!doctype html>
<html class="no-js" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{homeGuest.title}"></title>
    <th:block th:insert="fragments/_header"/>
</head>

<body>
<!--header start-->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/home"><img src="img/logo/logo.png" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header end-->

<th:block th:insert="fragments/_navigation"/>

<!--main start-->
<form action="/" method="POST">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"/>
    </div>
    <p>Not registered? <a href="/registration">Create an account</a></p>
    <button type="submit">Sign in</button>
</form>

<th:block th:insert="fragments/_languageChange"/>

<!--main end-->

<!-- footer start-->
<!-- footer end-->
</body>
</html>