<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{page.myTickets.title}"></title>
    <th:block th:insert="fragments/_links"/>

</head>

<body>
<!-- Start Header Top Area -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/home"><img src="img/logo/logo.png" alt=""/></a>
                </div>
            </div>
            <th:block th:insert="fragments/_header"/>
        </div>
    </div>
</div>
<th:block th:insert="fragments/_mainMenu"/>

<div class="normal-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2 style="text-align:center;" th:text="#{ticket.title}"></h2>
                        <p style="text-align:center;" th:text="#{ticket.description}"></p>
                    </div>
                    <div class="bsc-tbl-st">
                        <table class="table table-striped" th:object="${tickets}">
                            <thead>
                            <tr>
                                <th th:text="#{ticket.id}"></th>
                                <th th:text="#{ticket.stake}"></th>
                                <th th:text="#{ticket.coefficient}"></th>
                                <th th:text="#{ticket.winning}"></th>
                                <th>...</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket: ${tickets}">
                                <div th:if="${ticket.getOutcome() eq 'NEGATIVE'}">
                                    <td style="color: #F08080;" th:text="${ticket.getTicket()}"></td>
                                    <td style="color: #F08080;" th:text="${ticket.getStake()} + ' kn'">></td>
                                    <td style="color: #F08080;" th:text="${ticket.getCoefficient()}"></td>
                                    <td style="color: #F08080;" th:text="${ticket.getWinning()} + ' kn'"></td>
                                    <td>
                                        <form action="#" method="POST" th:action="@{/ticketDetails}">
                                            <input type="hidden" th:value="${ticket.getTicket()}" name="ticket"/>
                                            <button style="display:inline-block; width: 80px; height: 32px; background-color: #00c292;" type="submit" th:text="#{ticket.details}"></button>
                                        </form>
                                    </td>
                                </div>
                                <div th:unless="${ticket.getOutcome() eq 'NEGATIVE'}">
                                    <td style="color: #00c292;" th:text="${ticket.getTicket()}"></td>
                                    <td style="color: #00c292;" th:text="${ticket.getStake()} + ' kn'">></td>
                                    <td style="color: #00c292;" th:text="${ticket.getCoefficient()}"></td>
                                    <td style="color: #00c292;" th:text="${ticket.getWinning()} + ' kn'"></td>
                                    <td>
                                        <form action="#" method="POST" th:action="@{/ticketDetails}">
                                            <input type="hidden" th:value="${ticket.getTicket()}" name="ticket"/>
                                            <button style="display:inline-block; width: 80px; height: 32px; background-color: #00c292;" type="submit" th:text="#{ticket.details}"></button>
                                        </form>
                                    </td>
                                </div>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->


<th:block th:insert=" fragments/_scripts"/>

</body>

</html>