<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{page.pdfExport.title}"></title>
    <th:block th:insert="fragments/_links"/>

</head>

<body>
<!-- Start Header Top Area -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/home"><img src="img/logo/logo.png" alt=""/></a>
                </div>
            </div>
            <th:block th:insert="fragments/_header"/>
        </div>
    </div>
</div>
<th:block th:insert="fragments/_mainMenu"/>
<div class="form-example-wrap mg-t-30" style="width:40%; text-align:center; margin-left: 30%">
    <form th:action="@{/pdfExport}" method="POST">
        <p style="color: #00c292;" th:text="#{label.winningPdf}"></p>
        <br>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <label class="hrzn-fm"></label>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            <input type="number" class="form-control input-sm" name="winningStart" th:placeholder="#{label.winningStart}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <label class="hrzn-fm"></label>
        </div>
        <div class="form-example-int form-horizental">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="nk-int-st">
                            <input type="number" class="form-control input-sm" name="winningEnd" th:placeholder="#{label.winningEnd}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-example-int mg-t-15">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <button class="btn btn-success notika-btn-success waves-effect" type="submit" th:text="#{button.export}"></button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:insert="fragments/_scripts"/>

</body>

</html>