<!doctype html >
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{page.homeGuest.title}"></title>
    <th:block th:insert="fragments/_links"/>
</head>

<body>

<!-- Login Register area Start-->
<div class="login-content">
    <!-- Register -->
    <div class="nk-block toggled" id="l-register">
        <a href="#"><img src="img/logo/logo-large.png" alt=""/></a>
        <br><br><br>
        <div class="nk-form">
            <form action="#" method="POST" th:action="@{/registration}" th:object="${NewUserForm}">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" th:field="*{username}" th:placeholder="#{placeholder.username}">
                        <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" th:field="*{email}" th:placeholder="#{placeholder.email}">
                        <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" th:field="*{password}" th:placeholder="#{placeholder.password}">
                        <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    </div>
                </div>

                <a href="#login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
                <br>
                <button class="btn btn-success notika-btn-success" type="submit" th:text="#{button.submit}"></button>
            </form>
        </div>

        <div class="nk-navigation rg-ic-stl">
            <a href="login"><i class="notika-icon notika-right-arrow"></i> <span th:text="#{button.signIn}"></span></a>
            <a href="forgotPassword"><i>?</i> <span th:text="#{button.forgotPassword}"></span></a>
        </div>

    </div>
</div>
<th:block th:insert="fragments/_scripts"/>
</body>
</html>
