<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{page.homeGuest.title}"></title>
    <th:block th:insert="fragments/_links"/>
</head>

<body>
<div class="login-content">
    <!-- Login -->
    <div class="nk-block toggled" id="l-login">
        <a href="#"><img src="img/logo/logo-large.png" alt=""/></a>
        <br><br>
        <a href="login"><span class="alert alert-warning alert-dismissible" th:text="#{message.successfulRegistration}"> </span></a>
    </div>
</div>
<th:block th:insert="fragments/_scripts"/>
</body>
</html>